* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #52BA8C;
}
header {
  display: grid;
  place-content: center;
  gap: 15px;
  height: 35vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.color-generated-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 8px;
}
.color {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

#color-generator {
  border: none;
  padding: 1rem;
  border-radius: 8px;
}
#color-generator:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

button {
  border: none;
  border-radius: 8px;
  padding: 15px;
}
button:hover {
  background-color: #FFFFFF;
}
#copy-text-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
}
.desaparecer {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 8px;
  font-size: large;
  animation: desaparecer 1s forwards;
}
@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
